/* Gooey Action Menu */
.gooey-menu {
	filter: url('#goo');
	position: fixed;
	right: 40px;
	bottom: 50px;
	width: 40px;
	height: 40px;
	box-sizing: border-box;
	font-size: 14px;
	z-index: 10000;
}

.menu-open {
	display: none;
}

.gooey-menu .menu-item {
	background: var(--gooevy);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-left: -15px;
	position: absolute;
	top: 0;
	color: var(--surface);
	text-align: center;
	line-height: 30px;
	transform: translate3d(0, 0, 0);
	transition: transform ease-out 200ms;
	text-decoration: none;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;
	opacity: 0;
	pointer-events: none;
}

.gooey-menu .menu-item:hover {
	background: var(--gooevy-hover);
	color: var(--surface);
	transform: scale(1.1);
}

.gooey-menu .menu-item i {
	font-size: 12px;
}

.menu-open-button {
	background: var(--gooevy);
	border-radius: 100%;
	width: 40px;
	height: 40px;
	margin-left: -15px;
	position: absolute;
	top: 0;
	color: var(--surface);
	text-align: center;
	line-height: 30px;
	transition: transform ease-out 200ms;
	z-index: 2;
	transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
	transition-duration: 400ms;
	transform: scale(1, 1) translate3d(0, 0, 0);
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	border: none;
}

.menu-open-button:hover {
	transform: scale(1.05, 1.05) translate3d(0, 0, 0);
	background: var(--gooevy-hover);
}

.plus-icon {
	font-size: 16px;
	transition: transform 200ms;
	color: var(--surface);
}

.menu-open:checked + .menu-open-button {
	transition-timing-function: linear;
	transition-duration: 200ms;
	transform: scale(0.9, 0.9) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button .plus-icon {
	transform: rotate(45deg);
}

.menu-open:checked ~ .menu-item {
	transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
	opacity: 1;
	pointer-events: auto;
}
